body { background: #da7877; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 27px; display: flex; }
.block-cart-0 { color: #d73810; font-size: 20px; margin-bottom: 5px; }
.block-notify-1 { color: #6f46a0; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #e9639a; font-size: 15px; margin-bottom: 5px; }
.block-session-3 { color: #878158; font-size: 15px; margin-bottom: 5px; }
.block-email-4 { color: #ddb585; font-size: 21px; margin-bottom: 5px; }
.block-search-5 { color: #a79b8e; font-size: 16px; margin-bottom: 5px; }